
.FirstLine{
    padding-top: 15px;
    padding-bottom: 15px;
}

.maintitle{
    color:RGB(78,77,67);
    font-size:35px;
    font-weight: bold;
    font-family:"Times New Roman",serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainlogo{
    float: left;
    padding-right: 20px;
    padding-left: 10px;
}

.idimply{
    font-family:"黑体",serif;
    float:right;
    padding-right: 35px;
    margin-top: 10px;
    font-size: 20px;
}

.welcome{
    padding-right: 50px;
}

.imply{
    font-family:"Arial",sans-serif;
    background-color: RGB(245,245,245);
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 40px;
    margin-left: 15%;
    margin-right:15%;
}

.link{
    color:cadetblue;
}
.link:hover{
    color:darkcyan;
    text-decoration: underline;
}

.lcard{
    clear: both;
    float: left;

    margin-left: 7%;
    margin-bottom: 2%;
    width: 38%;
    border-radius: 8px;
    border-color: RGB(228,228,228);
    border-style: solid;
    
    padding: 20px ;

}
.lcard:hover{
    border-color:mediumseagreen;
}
.lcard:hover .arrow{
    color:mediumseagreen;
}

.rcard{
    float: right;

    margin-right: 7%;
    margin-bottom: 2%;
    width: 38%;
    border-radius: 8px;
    border-color: RGB(228,228,228);
    border-style: solid;

    padding: 20px ;
}
.rcard:hover{
    border-color:mediumseagreen;    
}
.rcard:hover .arrow{
    color:mediumseagreen;
}

.cardlogo{
    float:left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
}

.arrow{
    float: right;
    color: RGB(228,228,228);   
}



.ctitle{
    color: RGB(78,77,67);
    font-size: 20px;
    font-style: "Arial",sans-serif;
    font-weight: bold;
}

.explation{
    color: RGB(147,147,147);
    font-size: 14px;
    font-style: "Arial",sans-serif;

}

#viewall{
    clear: both;
    float: right;

    margin-right: 5%;
    margin-bottom: 3%;
}

.minilogo{
    color:RGB(147,147,147);
    font-size: 12px;
}

